<html>
    <head>  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/calendar.css">
        <title>ST Calender</title>
    </head>
    <body>
        <h2> Simple Turns Calender</h2>

        <div class="ns-calendar">
            <div id="calendar"></div>
        </div>



        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="./js/moment.min.js"></script>
        <script type="text/javascript" src="./js/calender.js"></script>
    </body>
</html>